.scrollBtn {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    z-index: 112;
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    background: #01bfa6;
    border-radius: 50%;
    transition: 0.3s;
    border: none;
    box-shadow: 0 2px 15px rgb(1 191 166 / 90%);
}
.scrollBtn:hover {
    background-color: #00AD96;
}
